# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# Logs
*.log

# Temporary or build outputs
build/
dist/
*.egg-info/

#images 
failed/
images/
images_renamed/

#zip files
*.zip
